*.py[cod]
*.*~
*.so
*.ch5
*.hdf5
*.hdf
*.h5
*.png
*.pdf
*.pkl
*.egg
*.egg-info
*.png
*.jpg
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
